*{
margin: 0;
padding: 0;
}

.nav{
width: 100%;
height: 100px;
display: flex;
align-items: center;

}

.img{
  margin-left: 10px;
  height: 100px;
  width: 20%;
}

.btn{
  background-color:white;
  color:  rgba(0, 217, 255, 0.867) ;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 400px;
  border: 3px solid rgba(0, 217, 255, 0.867);
  border-radius: 12px;
}

.btn:hover{
  background-color:  rgba(0, 217, 255, 0.867);
  color: white;
}

.Main{
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-color: antiquewhite;
  position: absolute;
  top: 0;
}

.popup{
  width: 55%;
  height: 700px;
  /* border: 1px solid black; */
  background-color: whitesmoke;
  position:absolute;
  top: 5%;
  right: 22.5%;
  border-radius: 20px;
}

.main{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 90%;
  height: 90%;
  /* border: 1px solid red; */
}

.head{
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  /* border: 1px solid gray; */
}
.text{
  height: 80px;
  width: 85%;
  /* border: 1px solid green; */
}

.text>h1{
  font-size: 24px;

}

.text>p{
  font-size: 13px;
  color: gray;
  margin-top: 1%;
}
.close{
  /* border: 1px solid green; */
  width: 3%;
  height: 18px;
  margin-top: 1%;
}

.lmain{
  width: 100%;
  height: 520px;
  /* border: 1px solid green; */
  margin-top: 30px ;
  display: flex;
}
.left{
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */

}
.right{
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */

}
.heading{
  width: 100%;
  height: 40px;
  /* border: 1px solid blue; */
}

.heading>h1{
  font-size: 16px;
  color: rgb(77, 76, 76);
}
.heading>p{
  font-size: 11px;
  color: gray;
}

.box{
  width: 100%;
  height: 50px;
  /* border: 1px solid yellow; */
  margin-top: 6%;
}

.box>p{
  font-size: 8px;
  color: darkgray;
  margin-left: 30px;
}

.box>input{
  padding: 10px 68px;
}

.warning{
  width: 80%;
  /* border: 1px solid tan; */
  margin-top: 6%;
  text-align:justify;
  line-height: 90%;

}

.warning>p{
  color: gray;
  font-size: 10px;
}

.ADiscount{
  background-color: darkgray;
  padding: 10px 98px;
  color: white;
  font-weight: bolder;
  border: none;
  margin-top: 7%;
  cursor: pointer;
  font-size: 15px;
}

.ADiscount:hover{
color: black;
}

.costsheet{
  margin-left: 80px;
  margin-top: 5%;
}


.iteamsuu{
  width: 100%;
  
}

.iteamsuu:nth-child(1){
  border-bottom: dotted darkgray;
}

.iteam{
  display: flex;
  justify-content: space-between;
}

.iteam>p{
  color: gray;
 font-size: 14px;
 margin-top: 4%;
}

.iteam>p:nth-child(2){
  font-weight: bold;
}